<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center">
    <h2>Clientes</h2>
    <button
      class="btn btn-success"
      data-bs-toggle="modal"
      data-bs-target="#staticBackdrop"
    >
      Nuevo Cliente
    </button>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Correo</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let cliente of clientes; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ cliente.nombreCliente }}</td>
        <td>{{ cliente.correoCliente }}</td>
        <td>
          <a class="btn btn-info btn-sm me-1 text-white" data-bs-toggle="modal"
             data-bs-target="#editarModal" (click)="asignarCliente(cliente)">
            <i class="bi bi-pencil-square"></i>
        </a>
          <a class="btn btn-danger btn-sm me-1" (click)="eliminarCliente(cliente.idCliente)">
            <i class="bi bi-trash"></i>
          </a>
        </td>

        <td></td>
      </tr>
    </tbody>
  </table>
</div>
<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel2">Cliente</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="nombreClienteEdit" class="form-label"
              >Nombre Cliente</label
            >
            <input
              type="text"
              class="form-control"
              id="nombreClienteEdit"

              [(ngModel)]="cliente.nombreCliente"
               [ngModelOptions]="{standalone: true}"
            />
          </div>
          <div class="mb-3">
            <label for="correoClienteEdit" class="form-label"
              >Correo</label
            >
            <input
              type="email"
              class="form-control"
              id="correoClienteEdit"
              [ngModelOptions]="{standalone: true}"
              [(ngModel)]="cliente.correoCliente"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" (click)="crearCliente()">Guardar</button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="editarModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Cliente</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="nombreCliente" class="form-label"
              >Nombre Cliente</label
            >
            <input
              type="text"
              class="form-control"
              id="nombreCliente"

              [(ngModel)]="cliente.nombreCliente"
               [ngModelOptions]="{standalone: true}"
            />
          </div>
          <div class="mb-3">
            <label for="correoCliente" class="form-label"
              >Correo</label
            >
            <input
              type="email"
              class="form-control"
              id="correoCliente"
              [ngModelOptions]="{standalone: true}"
              [(ngModel)]="cliente.correoCliente"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" (click)="editarCliente()">Guardar</button>
      </div>
    </div>
  </div>
</div>
